#wrapper {
    width: 100%;
    font-size: 14px;
}
#head, #content, #foot {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
#head {
    height: 75px;
    z-index: 100;
}
#head .mod-header a {
    width: 330px;
    height: 76px;
}
#head .mod-header a img{
    width: 200px;
}
a {
    text-decoration: none;
    color: #00c;
}
.main{
    position: relative;
    margin-top:80px;
    width: 100%;
    height:600px;
    background: url(../img/upload_541i9di2b3icf9j13f24e0bg7b1i6_1920x600.png) no-repeat center center;
}
.main .right{
    width:356px;
    height:400px;
    background: pink;
    border:1px solid lawngreen;
    position: absolute;
    top:60px;
    right:60px;
}
.login_mod_tab {
    height: 70px;
   
}
.login_mod_tab .mod {
    width: 50%;
    border-bottom: 1px solid #ccc;
}
.fl {
    float: left;
}
.login_mod_tab .tab_on {
    color: #fe617a;
    height: 41px;
    border-bottom: 2px solid #ff4066;
}
.login_mod_tab .lo_mod {
    display: block;
    width: 119px;
    margin: 10px auto 0;
}
.login_mod_tab .eb_mod {
    display: block;
    width: 119px;
    margin: 10px 30px 0;
}
.login_mod_tab a {
    height: 43px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #3c3c3c;
}
.login_input{
    display: block;
}
.login_password{
    display: none;
}
p{
height: 40px;
width: 300px;
}
p input{
    margin-left:20px;
    height: 40px;
    width: 300px;
    background: pink;
    border: 1px solid #ccc;
    padding: 0 6px;
}
#submit{
    font-size:16px;
    color:white;
    background: #ff4066;
}
.mgj_footer_hostname {
    width:100%;
    margin-left: 500px;
    margin-top: 100px;
    color: hsla(0,0%,40%,.7);
}
