#wrapper {
    width: 100%;
    font-size: 14px;
}
#head, #content, #foot {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
#head {
    height: 75px;
    z-index: 100;
}
#head .mod-header a {
    width: 330px;
    height: 76px;
}
#head .mod-header a img{
    width: 200px;
}
a {
    text-decoration: none;
    color: #00c;
}
#nav {
    background: 0 0;
    width:100%;
}
#nav .nav-2 {
    height: 20px;
    background: url(../img/reg_hr.png) no-repeat center top;
}
.mod-reg {
    position: relative;
}
.tang-pass-reg {
    position: relative;
    width: 720px;
    overflow: hidden;
}
.tang-pass-reg .pass-generalError {
    color: #fc4343;
    display: block;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}
.tang-pass-reg .pass-form-item {
    position: relative;
    clear: both;
    margin-bottom: 40px;
    zoom: 1;
}
.tang-pass-reg .pass-label {
    display: block;
    float: left;
    height: 42px;
    width: 65px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    text-align: right;
}
.tang-pass-reg .pass-text-input {
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    transition: .3s;
}
.tang-pass-reg .pass-form-item-submit {
    position: relative;
    left: 75px;
}
.mod-reg .tang-pass-reg .pass-button-submit {
    background-color: #3f89ec;
    width:350px;
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    
}
.tang-pass-reg a {
    text-decoration: none;
    color: #1b66c7;
}
.mod-reg .login-link, .mod-regnotify .login-link {
    position: absolute;
    top: -70px;
    right: 0;
    color: #666;
}
.mod-reg .login-btn, .mod-regnotify .login-btn {
    font-weight: 700;
    color: #666;
    height: 32px;
    width: 64px;
    border: 0;
    background: url(../img/reg_icons.png) no-repeat 0 -48px;
}
.mgj_copyright {
    color: #fff;
    font-size: 12px;
    margin-left:500px;
}
.mgj_footer_hostname {
    margin-top: 100px;
    color: hsla(0,0%,40%,.7);
}
